section {
    margin: 0 auto;
}



/*---- Vertically centers each section ---*/
.vertical-align{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%; 
}

.vertical-align .row{
    width: 100%;
}

/*----- Skill Bar Styles ------- */
.bar{
    color: #666;
    background-color: #eee;
    height: 32px;
    margin: 25px;
    display: flex;
    justify-content: flex-start;
    align-content: space-between
}

.bar span{
    color: #eee;
    z-index: 1;
    padding-right: 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.fill{
    background-color: #3359CC;
    margin: 0;
}

.tag{
    color: #eee;
    background-color:#33A5CC;
    width: 160px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}


@media only screen and (min-width: 575px){
    section{
        width: 60%;
    }
    .vertical-align{
            height: 100vh;
    }
    /* Rotates and positions header for My Skills for larger screens*/
    .rotate{
        padding: 0 15px;
        line-height: 35vw;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        -webkit-transform: translate3d(-50%, 0, 0) rotate(-90deg);
        transform: translate3d(-50%, 0, 0) rotate(-90deg);
        -webkit-transform-origin: top center;
        transform-origin: top center;

}
}