body {
    width: 60%;
    margin: 0 auto;
}

/*----- Skill Bar Styles ------- */
.bar{
    color: #666;
    background-color: #eee;
    height: 28px;
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    align-content: space-between
}

.bar span{
    color: #eee;
    z-index: 1;
    padding-right: 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.fill{
    background-color: #3359CC;
    margin: 0;
}

.tag{
    color: #eee;
    background-color:#33A5CC;
    width: 160px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}